header{
    position: fixed;
    top: 0;
}
*{
    background-color: #eeeeee;
    font-family: "Raleway", sans-serif;
}
main{
    margin-top: 150px;
}
.title{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
@media(min-width: 100px){

}

